aioice==0.10.1
aiortc==1.13.0
alembic==1.16.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
audioop-lts==0.2.1
av==14.4.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools         
certifi                           
cffi                             
charset-normalizer                
click                             
colorama                          
cryptography                      
deep-translator                   
distro                            
dnspython                         
dotenv                            
ffmpeg                            
filelock                          
Flask                             
flask-cors                        
Flask-JWT-Extended                
Flask-Migrate                     
Flask-SQLAlchemy                  
fsspec                            
gitdb                             
GitPython                         
google-crc32c                     
greenlet                          
gTTS                              
h11                               
httpcore                          
httpx                             
huggingface-hub                   
idna                              
ifaddr                            
itsdangerous                      
Jinja2                            
jiter                             
jsonschema                        
jsonschema-specifications         
langdetect                        
Mako                              
MarkupSafe                        
mpmath                            
narwhals                          
networkx                          
numpy                             
openai                            
packaging                         
pandas                            
pdf2image                         
pillow                            
pip                               
protobuf                          
psycopg2-binary                   
pyarrow                           
pycparser                         
pydantic                          
pydantic_core                     
pydeck                            
pydub                             
pyee                              
PyJWT                             
pylibsrtp                        
pyOpenSSL                         
PyPDF2                            
pytesseract                       
python-dateutil                   
python-dotenv                     
pytz                              
PyYAML                            
referencing                       
regex                             
requests                          
rpds-py                           
safetensors                       
setuptools                        
six                               
smmap                             
sniffio                           
soundfile                         
soupsieve                         
SpeechRecognition                 
SQLAlchemy                        
standard-aifc                     
standard-chunk                    
streamlit                         
streamlit-realtime-audio-recorder 
streamlit-webrtc                  
sympy                             
tenacity                          
tokenizers                        
toml                              
torch                             
tornado                           
tqdm                              
transformers                      
typing_extensions                 
typing-inspection                 
tzdata                           
urllib3                           
watchdog                          
Werkzeug                          
wheel                             
